/*Footer*/

.footer {
    padding: 20px 15px;
    background: #efefef;
    text-align: center;
    color: #8d8d8d;
    position: relative;
    z-index: 2;
}

.content-align ~ .footer {
    width: 100%;
    position: absolute;
    left: 0;
    z-index: 2;
    box-sizing: border-box;
    transform: translate(0,-100%);
}

@media (max-width: 767px){
    .content-align ~ .map + .footer {
        position: static;
        transform: translate(0,0);
    }
}

.footer .nav {
    margin-bottom: 60px;
}

.footer .nav a,
.footer .nav li {
    display: inline-block;
}

.footer .nav a {
    padding: 7px 15px;
    color: #606060;
    text-decoration: none;
}

.footer p {
    margin: 0;
    font-size: 15px;
}

.footer .nav a:hover {
    text-decoration: underline;
    color: #39b54a;
}

@media (max-width: 640px) {
    .footer .nav a {
        padding: 5px;
        font-size: 14px;
    }
}