.login {
  text-align: center;
}

.login-group {
  color: black;
  font-size: 26px;
  margin-bottom: 10px;
}

.login-group > label {
  width: 100%;
  color: rgb(248, 63, 94);
  display: block;
}

.login-group > input {
  outline: 0;
  border-radius: 10px;
  width: 360px;
  height: 50px;
  font-size: 14px;
  text-align: center;
}

hr {
  width: 360px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.hrLogo {
  width: 100%;
  box-sizing: border-box;
}

.tituloLogin {
  color: #222;
  font-family: "Proxima Nova", "Arial", sans-serif;
  font-size: 30px;
  font-weight: bolder;
  margin-bottom: 50px;
}

.buttonFacebook {
  background-color: #1877f2;
  border: none;
  border-radius: 6px;
  font-size: 20px;
  line-height: 48px;
  padding: 0 16px;
  width: 360px;
  color: #ffffff;
  outline: 0;
}

.buttonEjoei {
  color: #ffffff;
  background: #f05b78;
  border: 1px solid #f05b78;
  border-radius: 6px;
  font-size: 20px;
  line-height: 48px;
  padding: 0 16px;
  width: 360px;
  outline: 0;
  margin-top: 20px;
}

.buttonFacebook:hover {
  cursor: pointer;
  opacity: 0.8;
}

.buttonEjoei:hover {
  cursor: pointer;
  opacity: 0.8;
}

.logoLogin {
  width: 55px;
  height: 55px;
  margin: 14px;
  align-items: center;
  vertical-align: middle;
  margin-right: 100px;
 
}

.flechaVoltar {
  float: left;
  height: 55px;
  margin-left: 30px;
  margin-top: 20px;
}

.naoTenhoConta {
  margin-top: 30px;
  font-size: 20px;
  color:  #f05b78;
}

.naoTenhoConta:hover {
  cursor: pointer;
  opacity: 0.8;
}

.manterLogado {
  color: black;
  margin-top: -31px;
  margin-right: 160px;
}

.radius {
  border:none;
}

.checkbox {
  margin-right: 320px;
}

.esqueciAsenha {
  text-align: center;
}

.navCaptcha {
  margin-top: 40px;
  margin-right: 22px;
}

.navCaptcha ul li a {
  font-size: 12px;
  color: rgba(77, 75, 73, 0.8);
}

.navCaptcha .privacidadeEcondicoes {
  color:  #f05b78;
}