.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.descricao {
  font-size: 24px;
  font-weight: 280;
  margin-top: 3px;
  padding: 3px;
}

img {
  margin-bottom: 6px;
}

input {
  display: block;
  margin-top: 8px;
  line-height: 24px;
  padding: 4px 12px;
  width: 95%;
  border-radius: 12px;
  appearance: none;
  border: 1px solid black;
}

.verde {
  background-color: green !important;
  border-color: green !important;
}

.azul {
  background-color: blue !important;
  border-color: blue !important;
}

.vermelho {
  background-color: red !important;
  border-color: red !important;
}

.botoes {
  margin-top: 20px;
}

.botoes .btn {
  margin: 0 15px;
}

.flash {
  width: 100%;
  display: inline-block;
  cursor: pointer;
  text-align: center;
  position: fixed;
  top: 0;
  right: 0;
}

.invisivel {
  display: none;
}

.fade-in {
  animation: fadein 1s linear forwards;
}

.fade-out {
  animation: fadeout 1s linear forwards;
}

@keyframes fadein { from { opacity: 0; } to { opacity: 1; visibility: visible; } }
@keyframes fadeout { from { opacity: 1; } to { opacity: 0; visibility: hidden; } }

/**********************************************/

.meuInput {
  margin-top: 30px;
}

.mensagem-erro {
  color: red;
  font-size: 12px;
}

.erro {
  border-color: red;
}