html {
  scroll-behavior: smooth;
}

.wrapper {
  width: 100%;
  text-align: center;
  padding: 5px;
  background-color: rgb(163, 69, 144);
}

.containerHeader {
  width: 1160px;
  max-width: 100%;
  margin: auto;
}

.logo {
  float: left;
}

.logoHeader {
  width: 30px;
  margin-right: 14px;
}

nav {
  text-align: center;
}

nav:hover {
  cursor: pointer;
}

nav ul li {
  display: inline;
  text-decoration: none;
  font-size: 12px;
  margin: 10px 0px;
  color: black;
  text-decoration: none;
  color: black;
  box-sizing: border-box;
}

.inputBuscar {
  margin-top: 10px;
  height: 50px;
  text-align: center;
  width: 300px;
  display: inline;
  border: 1px solid rgba(202,197,191,0.5);
  padding: 0 12;
  border-radius: 3px;
  appearance: none;
  outline: 0;
}

.lupaHeader{
  width: 35px;
  margin-left: 10px;
  padding: 0;
}

.lupaHeader:hover {
  cursor: pointer;
}

.question {
  width: 35px;
  margin-left: 30px;
  padding: 0;
}

p {
  position: relative;
  top: 8px;
  height: 24px;
  color: #fff;
}

.inf {
  font-size: 15px;
  margin: 0;
  padding: 0;
  font-weight: bold;
}

.link {
  cursor: pointer;
}

.hrHeader {
  margin-top: 27px;
  width: 100%;
  box-sizing: border-box;
  border-color: rgba(202,197,191,0.5); 
}

.navHeader2 {
  margin-top: -45px;
  margin-bottom: -10px;
  margin-left: 480px;
}

.navHeader2 ul li {
  padding: 10px;
  font-size: 13px;
  font-style: italic;
}

.navHeader2 ul li:hover,
.navHeader2 ul li a:hover {
  cursor: pointer;
  opacity: 0.6;
  transition: 0.3s;
  color: rgb(163, 69, 144);
}

.btnVender {
  height: 48px;
  padding: 0 28px;
  font-weight: 600;
  border-width: 1px;
  border-radius: 3px;
  color: white;
  background-color: #f05b78;
  cursor: pointer;
  outline: 0;
  border: 1px solid #f05b78;
}

.hamburguer {
  margin-top: -4px;
  height: 20px;
  width: 30px;
}

.hamburguer[for='bt_menu'] {
  padding: 5px;
  background-color: #222;
  color: white;
  font-family: 'Arial';
  text-align: center;
  font-size: 30px;
  cursor: pointer;
  width: 50px;
  height: 50px;
}

.menu-button,
.menu-button + input {
  display: none;
}

.menu-button {
  width: 45px;
  height: 45px;
  border: 1px solid black;
  border-radius: 4px;
  background: #fff;
  background: url('../../images/hamburguer.png') no-repeat center / 70% auto;
  position: absolute;
  top: 25px;
  right: 15px;
  text-align: left;
  text-indent: -999px;
  overflow: hidden;
  cursor: pointer;
}

@media(max-width:1082px) {
  .menu-button {
    display: block;
    margin-top: 35px;
  }

  .btnVender {
    margin-left: -30px;
  }
  
  .question {
    margin-left: 10px;
  }

  .logoHeader {
   text-align: center;
  }

  .inputBuscar {
    width: 50%;
  }
  
  .lupaHeader{
    display: none;
    margin-right: 40px;
    padding: 0;
  }

  .navHeader2 {
    display: none;
    width: 10%;
    padding-top: 25px;
    margin-top: 30px;
    margin-left: 100px;
  }
  
  .menu-button + input:checked + .navHeader2 {
    display: block;
  }
  
  .navHeader2 li,
  .navHeader2 li a {
    text-align: center;
   display: block;
  }

  .header2 .navHeader2 li:not(:first-child) {
    border-top: 1px solid white;
  }
}

@media(max-width:524px) {
  .menu-button {
    display: block;
    margin-top: 34px;
  }
    
   p {
    position: relative;
    top: 3px;
    height: 29px;
    color: #fff;
   }
}
