footer {
  max-width: 800px;
  margin-left: 80px;
  margin-top: -44px;
}

.imgFooter {
  height: 50px;
  width: 50px;
}

.msgFooter {
  color: #7d7a77;
  font-size: 12px;
}

.enjuapp {
  color: #f05b78;
  background-color: white;
  padding: 8px 10px 7px;
  outline: 0;
  border: 1px solid rgba(202,197,191,0.5);
  margin-left: 1000px;
  margin-top: -46px;
  cursor: pointer;
  position: absolute;
  margin-bottom: 50px;
}

@media(max-width: 1200px) {
  .enjuapp {
    margin-left: 111px;
    margin-top: 20px;
  }
}

.enjuapp:hover {
  opacity: 0.8;
}

.footerNav nav ul {
  margin-top: 40px;
}

.footerNav nav ul li {
  text-align:center;
  display: block;
  text-align: left; 
}

.footerNav nav ul li span {
  margin-left: 57px;
  display: inline-block;
}

.hrFooter {
  margin-top: 24px;
  width: 100%;
  box-sizing: border-box;
  border-color: rgba(202,197,191,0.1); 
}

.tituloFooter {
  font-size: 16px;
  font-weight: 700;
  color: #222;
  cursor:auto;
}

/*ALINHAMENTO */

.footerAlinhamento {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: auto;
}

@media(min-width: 1200px) {
  .footerAlinhamento {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media(max-width: 768px) {
  .footerAlinhamento {
    grid-template-columns: repeat(2, 1fr);
  }
}
