.inputEpisodios {
  padding: 4px 12px;
  width: 50%;
  border-radius: 12px;
  appearance: none;
  margin-left: 30px;
  margin-bottom: 20px;
}

.lista {
  font-size: 23px;
  font-style: italic;
  margin-top: 20px;

}