.rowVendedoresIcone .containerVendedoresIcone ul li  {
  margin-left: 15px;
  margin-right: 23px;
}

.containerVendedoresIcone ul li {
  display: inline-block;
  margin-bottom: -10px;
  text-align: center;
  padding: 23px;
}

.containerVendedoresIcone ul .formatacaoLateralBorda {
  border-left: 1px solid rgba(202,197,191,0.5);
}

.containerVendedoresIcone ul li h2 {
  font-size: 20px;
  color: #222;
  font-weight: bold;
  cursor: pointer;
}

.formatarImagem {
  height: 158px;
  border-radius: 50%;
  cursor: pointer;
}

.containerTotalVendedores {
  border: 1px solid rgba(202,197,191,0.5);
  padding: 20px;
  width: 100%;
  margin-bottom: -26px;
}

.tituloNomeImagemVendedor {
  text-align: center;
}
