* {
  background-color: black;
}

.body{
  background-color: black;
}

.container {
  max-width: 1280px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
  box-sizing: border-box;
}

.row {
  margin-left: -15px;
  margin-right: -15px;
}

.row:before,
.row:after {
  content: "";
  display: table;
  clear: both;
}  

/*Grid*/

.col {
  padding-left: 15px;
  padding-right: 15px;
  float: left;
  box-sizing: border-box;
}

.col-sm-1 {
    width: 8.3333333333%;
}

.col-sm-2 {
    width: 16.6666666667%;
}

.col-sm-3 {
    width: 25%;
}

.col-sm-4 {
    width: 33.3333333333%;
}

.col-sm-5 {
    width: 41.6666666667%;
}

.col-sm-6 {
    width: 50%;
}

.col-sm-7 {
    width: 58.3333333333%;
}

.col-sm-8 {
    width: 66.6666666667%;
}

.col-sm-9 {
    width: 75%;
}

.col-sm-10 {
    width: 83.3333333333%;
}

.col-sm-11 {
    width: 91.6666666667%;
}

.col-sm-12 {
    width: 100%;
}

@media (min-width:768px){
    .col-md-1 {
        width: 8.3333333333%;
    }
    
    .col-md-2 {
        width: 16.6666666667%;
    }
    
    .col-md-3 {
        width: 25%;
    }
    
    .col-md-4 {
        width: 33.3333333333%;
    }
    
    .col-md-5 {
        width: 41.6666666667%;
    }
    
    .col-md-6 {
        width: 50%;
    }
    
    .col-md-7 {
        width: 58.3333333333%;
    }
    
    .col-md-8 {
        width: 66.6666666667%;
    }
    
    .col-md-9 {
        width: 75%;
    }
    
    .col-md-10 {
        width: 83.3333333333%;
    }
    
    .col-md-11 {
        width: 91.6666666667%;
    }
    
    .col-md-12 {
        width: 100%;
    }
}

@media (min-width: 1180px) {
    .col-lg-1 {
        width: 8.3333333333%;
    }
    
    .col-lg-2 {
        width: 16.6666666667%;
    }
    
    .col-lg-3 {
        width: 25%;
    }
    
    .col-lg-4 {
        width: 33.3333333333%;
    }
    
    .col-lg-5 {
        width: 41.6666666667%;
    }
    
    .col-lg-6 {
        width: 50%;
    }
    
    .col-lg-7 {
        width: 58.3333333333%;
    }
    
    .col-lg-8 {
        width: 66.6666666667%;
    }
    
    .col-lg-9 {
        width: 75%;
    }
    
    .col-lg-10 {
        width: 83.3333333333%;
    }
    
    .col-lg-11 {
        width: 91.6666666667%;
    }
    
    .col-lg-12 {
        width: 100%;
    }
}


.inputEpisodios {
  padding: 4px 12px;
  width: 50%;
  border-radius: 12px;
  appearance: none;
  margin-left: 30px;
  margin-bottom: 20px;
  
}

.lista {
  font-size: 23px;
  font-style: italic;
  margin-top: 20px;

}

.cards img{
  width: 100%;
}

.h3 {
  color: white;
  font-size: 20px;
  background-color: #282c34;
}

p {
  background-color: #282c34;
  color: white;
  font-size: 20px;
}

.lista-filmes article {
  border: 3px solid black;
  justify-content: center;
  align-items: center;
  background-color: #282c34;
  top: 104px;
  padding: 10px;
  position: relative;
}

.lista-filmes article .button {
  text-decoration: none;
  color: white;
  font-size: 25px;
  background-color: brown;
  width: 100%;
  height: 40px;
  text-align: center;
  border-radius: 15px ;
  border: none;
  outline: 0;
}

.lista-filmes article .button:hover {
  cursor: pointer;
  background-color: white;
  color: brown;
  transition: ease-in-out 0.3s;
}

.img:hover {
  cursor: pointer;
  transform: scale(1.10);
  box-shadow: 0 0 40px -10px rgba(0, 0, 0, 0.25);
}

@media screen and (max-width: 1000px){
  .img {
    width:40%;
  }
}

/*.hr {
  border: 1px solid white;
  margin-bottom: 100px;
  padding: 0;
}*/


/*         NAVEGAÇÃO                                                 */


.wrapper {
  width: 1170px;
  margin: 0px auto;
}

header {
  height: 100px;
  background-color: black;
  width: 100%;
  z-index: 12;
  position: fixed;
}

.logo {
  width: 120px;
  float: left;
}

.logo:hover {
  cursor: pointer;
  transform: scale(1.10);
  box-shadow: 0 0 40px -10px rgba(0, 0, 0, 0.25);
}

@media screen and (max-width: 1000px){
  .logo {
    width:40%;
  }
}

nav {
  float: right;
  margin-top: 29px;
}

nav a {
  text-decoration: none;
  letter-spacing: 4px;
  font-size: 20px;
  margin: 0 10px;
  color: white;
  
}

nav a:hover {
  cursor: pointer;
  color: rgb(214, 12, 12);
  transition: ease-in-out 0.3s;
}

nav ul li{
  display: inline;
}

input {
  height: 29px;
  width: 200px;
  border-radius: 15px;
  display: inline;
  background-color: white;
}

.lupa {
  margin-left: 13px;
  width: 30px;
}

.lupa:hover {
  cursor: pointer;
}

nav .account {
 margin-left: 22px;
}

