*{
  background-color: black;
}

.wrapper {
  width: 1170px;
  margin: 0px auto;
}

header {
  height: 100px;
  background-color: black;
  width: 100%;
  z-index: 12;
  position: fixed;
  border-bottom: 1px solid #282c34;
}

.logo {
  width: 120px;
  float: left;
}

nav {
  float: right;
  margin-top: 29px;
}

nav a {
  text-decoration: none;
  letter-spacing: 4px;
  font-size: 20px;
  margin: 0 10px;
  color: white;
  
}

nav a:hover {
  cursor: pointer;
  color: rgb(214, 12, 12);
  transition: ease-in-out 0.3s;
}

nav ul li{
  display: inline;
}

input {
  height: 29px;
  width: 200px;
  border-radius: 15px;
  display: inline;
  background-color: white;
}

.lupa {
  margin-left: 13px;
  width: 30px;
}

.lupa:hover {
  cursor: pointer;
}

nav .account {
 margin-left: 22px;
}