.form {
  width: 400px;
  margin: auto;
}

.login {
  box-shadow: 1px 1px 5px #282c34;
  background-color: white;
  padding: 38px;
  border-radius: 15px;
}

.login-top {
  background-color: white;
  text-align: center;
}

.loginH2 {
  color: #282c34;
  background-color: white;
  font-size: 30px;
}

.imgLogin {
  background-color: white;
  border-radius: 10px;
  width: 316px;
  height: 190px;
}

.login-label {
  background-color: white;
  color: #282c34;
}

.login-group {
  background-color: white;
  color: #282c34;
  font-size: 20px;
  margin-bottom: 10px;
}

.login-group > label {
  width: 100%;
  color: #282c34;
  display: block;
}

.login-group > input {
  outline: 0;
  border-radius: 10px;
  width: 100%;
  height: 30px;
  font-size: 14px;
}

.login-button {
  width: 100%;
  margin-top: 10px;
  border-radius: 15px;
  text-decoration: none;
  color: white;
  font-size: 25px;
  background-color: brown;
  border: none;
  outline: 0;
}

.login-button:hover {
  cursor: pointer;
  background-color: rgba(165, 42, 42, 0.8);
  transition: ease-in-out 0.3s;
}