.App-header {
  background-color: black;
}

.detalhesEpisodios {
  font-size: 20px;
  max-width: 800px;
  text-align: center;
}

.sinopse {
  font-style: italic;
  background-color: black;
  max-width: 500px;
}

