.erro {
  text-align: center;
  display: block;
  margin-top: 30px;
}

.erro p {
  color:rgb(117, 109, 109);
  margin-top: 10px;
}

.imgErro {
  margin-top: 100px;
  margin-bottom: 50px;
}

.bold {
  font-weight: bold;
  font-size: 21px;
}
