.containerVendedor {
  height: 210px;
  margin-top: 60px;
  border: 1px solid rgba(202,197,191,0.5);
  border-radius: 5px;
  margin-bottom: 20px;
}

.iconeVendedor {
  width: 32px;
  height: 32px;
  cursor: pointer;
}

.vendedorSeguir {
  height: 40px;
  padding: 0 30px;
  font-size: 14px;
  font-weight: 600;
  border-width: 1px;
  border-radius: 3px;
  line-height: 38px;
  color: #f05b78;
  background: #ffffff;
  border: 1px solid rgba(202,197,191,0.5);
  outline: 0;
}

.vendedorSeguir:hover {
  cursor: pointer;
  opacity: 0.8;
}

.vendedorNome {
  margin-left: 5px;
  color: #222;
  font-weight: 700;
  font-size: 12px;
  font-family: "Proxima Nova", sans-serif;
  cursor: pointer;
}

.vendedorTituloPrincipal {
  margin-left: 5px;
  font-family: "Proxima Nova", sans-serif;
  font-size: 12px;
  color: rgb(125, 122, 119);
  font-weight: 400;
  cursor: pointer;
}

.btnSeguir {
  width: 110px;
  margin-left: 423px;
  margin-top: -55px;
}

.titulosVendedorInfPessoais {
  width: 300px;
  margin-left: 40px;
  margin-top: -39px;
  margin-bottom: 15px;
}

.vendedorAvaliacao {
  width: 178px;
}

.vendedorAvaliacao .vendedorTituloPrincipal {
  margin-left: 60px;
}

.vendedorEntregas {
  width: 178px;
  margin-left: 178px;
  margin-top: -46px;
}

.vendedorEntregas .vendedorTituloPrincipal {
  margin-left: 40px;
}

.vendedorTempoMedio {
  width: 178px;
  margin-left: 356px;
  margin-top: -46px;
}

.vendedorTempoMedio .vendedorTituloPrincipal {
  margin-left: 30px;
}

.vendedorSubTituloPrincial {
  margin-left: 43px;
}

.vendedorSubTituloTempoMedio {
  margin-left: 65px;
}

.vendedorVenda {
  width: 178px;
  margin-top: 19px;
}

.vendedorVendidos {
  width: 178px;
  margin-left: 183px;
  margin-top: -46px;
}

.vendedorCriacao {
  width: 178px;
  margin-left: 366px;
  margin-top: -46px;
}

.vendedorTituloVenda {
  margin-left: 68px;
}

.vendedorTituloVendidos {
  margin-left: 60px;
}

.vendedorTituloCriacao {
  margin-left: 50px;
}

.vendedorSubTituloVenda {
  margin-left: 77px;
  font-weight: 600;
  font-size: 14px;
  color: #222;
}

.vendedorSubTituloVendidos {
  margin-left: 62px;
  font-weight: 600;
  font-size: 14px;
  color: #222;
}

.vendedorSubTituloCriacao {
  margin-left: 53px;
  font-weight: 600;
  font-size: 14px;
  color: #222;
}
