.produtoEspecifico-19 {
  height: 172px;
  width: 195px;
}

.produtoEspecifico-20 {
  height: 172px;
  width: 195px;
}

.produtoEspecifico-21 {
  height: 172px;
  width: 195px;
  margin-top: 200px;
  margin-left: -420px;
}

.produtoEspecifico-22 {
  height: 172px;
  width: 195px;
  margin-top: 200px;
  margin-left: -227px;
}

.produtoEspecifico-23 {
  width: 366px;
  height: 369px;
  margin-left: -24px;
}

.produtoEspecifico-24 {
  width: 366px;
  height: 369px;
}

.imgHome-19 {
  width: 100%;
  height: 100%;

}

.imgHome-20 {
  height: 100%;
  width: 100%;
}

.imgHome-21 {
  height: 100%;
  width: 100%;
}

.imgHome-22 {
  height: 100%;
  width: 100%;
}

.imgHome-23 {
  height: 101%;
  width: 100%;
}

.imgHome-24 {
  height: 101%;
  width: 100%;
}

@media(max-width: 1200px) {
  .produtoEspecifico-19 {
    width: 100%;
    height: 100%;
    margin: 0;
  }
  
  .produtoEspecifico-20 {
    width: 100%;
    height: 100%;
    margin: 0;
  }
  
  .produtoEspecifico-21 {
    width: 100%;
    height: 100%;
    margin: 0;
  }
  
  .produtoEspecifico-22 {
    width: 100%;
    height: 100%;
    margin: 0;
  }
  
  .produtoEspecifico-23 {
    width: 100%;
    height: 100%;
    margin: 0;
  }
  
  .produtoEspecifico-24 {
    width: 100%;
    height: 100%;
    margin: 0;
  }

  .imgHome-19 {
    width: 200px;
    height: 200px;
    margin: 0;
  }
  
  .imgHome-20 {
    width: 200px;
    height: 200px;
    margin: 0;
  }
  
  .imgHome-21 {
    width: 200px;
    height: 200px;
    margin: 0;
  }
  
  .imgHome-22 {
    width: 200px;
    height: 200px;
    margin: 0;
  }
  
  .imgHome-23 {
    width: 200px;
    height: 200px;
    margin: 0;
  }
  
  .imgHome-24 {
    width: 200px;
    height: 200px;
    margin: 0;
  }
}

