.produtoEspecifico-7 {
  width: 366px;
  height: 369px;
}

.produtoEspecifico-8 {
  height: 172px;
  width: 195px;
}

.produtoEspecifico-9 {
  height: 172px;
  width: 195px;
}

.produtoEspecifico-10 {
  height: 172px;
  width: 195px;
  margin-top: 190px;
  margin-left: -422px;
}

.produtoEspecifico-11 {
  height: 172px;
  width: 195px;
  margin-top: 190px;
  margin-left: -226px;
}

.produtoEspecifico-12 {
  width: 366px;
  height: 369px;
  margin-left: -30px;
}

.imgHome-7 {
  width: 100%;
  height: 100%;

}

.imgHome-8 {
  height: 100%;
  width: 100%;
}

.imgHome-9 {
  height: 100%;
  width: 100%;
}

.imgHome-10 {
  height: 104%;
  width: 100%;
}

.imgHome-11 {
  height: 104%;
  width: 100%;
}

.imgHome-12 {
  height: 100%;
  width: 100%;
}

@media(max-width: 1200px) {
  .produtoEspecifico-7 {
    width: 100%;
    height: 100%;
    margin: 0;
  }
  
  .produtoEspecifico-8 {
    width: 100%;
    height: 100%;
    margin: 0;
  }
  
  .produtoEspecifico-9 {
    width: 100%;
    height: 100%;
    margin: 0;
  }
  
  .produtoEspecifico-10 {
    width: 100%;
    height: 100%;
    margin: 0;
  }
  
  .produtoEspecifico-11 {
    width: 100%;
    height: 100%;
    margin: 0;
  }
  
  .produtoEspecifico-12 {
    width: 100%;
    height: 100%;
    margin: 0;
  }

  .imgHome-7 {
    width: 200px;
    height: 200px;
    margin: 0;
  }
  
  .imgHome-8 {
    width: 200px;
    height: 200px;
    margin: 0;
  }
  
  .imgHome-9 {
    width: 200px;
    height: 200px;
    margin: 0;
  }
  
  .imgHome-10 {
    width: 200px;
    height: 200px;
    margin: 0;
  }
  
  .imgHome-11 {
    width: 200px;
    height: 200px;
    margin: 0;
  }
  
  .imgHome-12 {
    width: 200px;
    height: 200px;
    margin: 0;
  }
}
