.produtoEspecifico-13 {
  height: 172px;
  width: 195px;
}

.produtoEspecifico-14 {
  height: 172px;
  width: 195px;
}

.produtoEspecifico-15 {
  height: 172px;
  width: 195px;
  margin-top: 200px;
  margin-left: -420px;
}

.produtoEspecifico-16 {
  height: 172px;
  width: 195px;
  margin-top: 200px;
  margin-left: -227px;
}

.produtoEspecifico-17 {
  width: 366px;
  height: 369px;
  margin-left: -24px;
}

.produtoEspecifico-18 {
  width: 366px;
  height: 369px;
}

.imgHome-13 {
  width: 100%;
  height: 100%;

}

.imgHome-14 {
  height: 100%;
  width: 100%;
}

.imgHome-15 {
  height: 100%;
  width: 100%;
}

.imgHome-16 {
  height: 100%;
  width: 100%;
}

.imgHome-17 {
  height: 101%;
  width: 100%;
}

.imgHome-18 {
  height: 101%;
  width: 100%;
}

@media(max-width: 1200px) {
  .produtoEspecifico-13 {
    width: 100%;
    height: 100%;
    margin: 0;
  }
  
  .produtoEspecifico-14 {
    width: 100%;
    height: 100%;
    margin: 0;
  }
  
  .produtoEspecifico-15 {
    width: 100%;
    height: 100%;
    margin: 0;
  }
  
  .produtoEspecifico-16 {
    width: 100%;
    height: 100%;
    margin: 0;
  }
  
  .produtoEspecifico-17 {
    width: 100%;
    height: 100%;
    margin: 0;
  }
  
  .produtoEspecifico-18 {
    width: 100%;
    height: 100%;
    margin: 0;
  }

  .imgHome-13 {
    width: 200px;
    height: 200px;
    margin: 0;
  }
  
  .imgHome-14 {
    width: 200px;
    height: 200px;
    margin: 0;
  }
  
  .imgHome-15 {
    width: 200px;
    height: 200px;
    margin: 0;
  }
  
  .imgHome-16 {
    width: 200px;
    height: 200px;
    margin: 0;
  }
  
  .imgHome-17 {
    width: 200px;
    height: 200px;
    margin: 0;
  }
  
  .imgHome-18 {
    width: 200px;
    height: 200px;
    margin: 0;
  }
}
