.produtoEspecifico-1 {
  width: 366px;
  height: 369px;
}

.produtoEspecifico-2 {
  height: 172px;
  width: 195px;
}

.produtoEspecifico-3 {
  height: 172px;
  width: 195px;
}

.produtoEspecifico-4 {
  height: 172px;
  width: 195px;
  margin-top: 190px;
  margin-left: -422px;
}

.produtoEspecifico-5 {
  height: 172px;
  width: 195px;
  margin-top: 190px;
  margin-left: -226px;
}

.produtoEspecifico-6 {
  width: 366px;
  height: 369px;
  margin-left: -30px;
}

.imgHome-1 {
  height: 100%;
  width: 100%;
}

.imgHome-2 {
  height: 100%;
  width: 100%;
}

.imgHome-3 {
  height: 100%;
  width: 100%;
}

.imgHome-4 {
  height: 104%;
  width: 100%;
}

.imgHome-5 {
  height: 104%;
  width: 100%;
}

.imgHome-6 {
  height: 100%;
  width: 100%;
}

@media(max-width: 1200px) {

  .produtoEspecifico-1 {
    width: 100%;
    height: 100%;
    margin: 0;
  }
  
  .produtoEspecifico-2 {
    width: 100%;
    height: 100%;
    margin: 0;
  }
  
  .produtoEspecifico-3 {
    width: 100%;
    height: 100%;
    margin: 0;
  }
  
  .produtoEspecifico-4 {
    width: 100%;
    height: 100%;
    margin: 0;
  }
  
  .produtoEspecifico-5 {
    width: 100%;
    height: 100%;
    margin: 0;
  }
  
  .produtoEspecifico-6 {
    width: 100%;
    height: 100%;
    margin: 0;
  }

  .imgHome-1 {
    width: 200px;
    height: 200px;
    margin: 0;
  }
  
  .imgHome-2 {
    width: 200px;
    height: 200px;
    margin: 0;
  }
  
  .imgHome-3 {
    width: 200px;
    height: 200px;
    margin: 0;
  }
  
  .imgHome-4 {
    width: 200px;
    height: 200px;
    margin: 0;
  }
  
  .imgHome-5 {
    width: 200px;
    height: 200px;
    margin: 0;
  }
  
  .imgHome-6 {
    width: 200px;
    height: 200px;
    margin: 0;
  }
}
