.imgHome {
  height: 200px;
  cursor: pointer;
  opacity: 0.875;
  margin-bottom: 8px;
}

.espace {
  margin-bottom: 45px;
}

.imgHome:hover {
  opacity: 1;
}

.container {
  width: 1160px;
  max-width: 100%;
  margin: auto;
}


/*COM 5 COLUNAS*/

.lista-loja5 {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 16px;
}

.lista-loja5 img {
  max-width: 100%;
  display: block;
  margin-top: 16px;
}

@media(min-width: 1200px) {
  .lista-loja5 {
    grid-template-columns: repeat(5, 1fr);
  }
}

@media(min-width: 768px) {
  .lista-loja5 {
    grid-template-columns: repeat(5, 1fr);
  }
}

/**/
.lista-loja {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 16px;
}

.lista-loja img {
  max-width: 100%;
  display: block;
  margin-top: 16px;

}

@media(min-width: 768px) {
  .lista-loja {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media(min-width: 1200px) {
  .lista-loja {
    grid-template-columns: repeat(6, 1fr);
  }
}

.imgBanner {
  margin-bottom: 50px;
  max-width: 100%;
}

.items-wrapper {
  width: 100%;
}

.items {
  display: flex;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  -webkit-overflow-scrolling: touch;
  margin-bottom: 20px;
}

.item {
  flex: none;
  scroll-snap-align: start;
}

.bannerImg {
  width: 100%;
  height: 100%;
}

.tituloLoja {
  font-size: 30px;
  color: #222;
  display: block;
  cursor: pointer;
  font-family: 'Proxima Nova', 'Arian', 'sans-serif';
  margin: 0;
  font-weight: bold;
}

.subTituloLoja {
  color: #222;
  font-size: 15px;
}

.subTituloLoja u {
  color: #f05b78;
  cursor: pointer;
  float: right;
  text-decoration:none;
  opacity: 0.9;
}

.subTituloLoja u:hover {
  opacity: 1;
}

.precoProduto {
  position: absolute;
  margin-top: -35px;
  margin-left: 4px;
  color:#f05b78;
  border: 1px solid white;
  background-color: white;
  cursor: pointer;
}

.next {
  width: 10px;
  height: 10px;
  float: right;
  margin-top: 8.3px;
  cursor: pointer;
}


/*ESPAÇAMENTO*/

.espacamentoCategoriaProduto {
  margin-bottom: 60px;
}

@media(min-width: 1200px) {
  .lista-loja {
    grid-template-columns: repeat(6, 1fr);
  }
}
