.ulListagem {
  padding: 0;
}

.containerListagemPerguntas {
  margin: auto;
  height: 180px;
  overflow-y: scroll;
}

.containerListagemPerguntas .ulListagem li {
  position: relative;
  margin-bottom: 20px;
  background: #ffffff;
  padding: 20px;
  list-style: none;
  max-width: 470px;
}

.iconePergunta {
  width: 25px;
  height: 25px;
  margin-right: 10px;
}

.containerListaPergunta {
  margin-left: 25px;
  margin-top: -46px;
}

.containerPergunta {
  margin-bottom: 20px;
}
