.containerMarca {
  margin-left: 20px;
  padding: 8px;
  border-right: 1px solid rgba(202,197,191,0.5);
  width: 144px;
  margin-bottom: 19px;
  position: relative;
}

.containerMarca h3,
.containerMarca h4 {
  text-align: center;
}

.containerCondicao {
  margin-top: -85px;
  margin-left: 190px;
  padding: 8px;
  border-right: 1px solid rgba(202,197,191,0.5);
  width: 144px;
  margin-bottom: 12px;
  position: relative;
}

.containerCondicao h3,
.containerCondicao h4 {
  text-align: center;
}

.containerCodigo {
  margin-top: -81px;
  margin-left: 360px;
  padding: 8px;
  width: 144px;
  position: relative;
}

.containerCodigo h3,
.containerCodigo h4 {
  text-align: center;
}
