.btnTitle:hover {
  opacity: 0.9;
}

.primary {
  color: #ffffff;
  background: #f05b78;
  border: 1px solid #f05b78;
}

.secondary {
  color: #f05b78;
  background: #ffffff;
  border: 1px solid rgba(202,197,191,0.5);
}

.containerInf {
  padding: 10px;
  margin-top: 50px;
  border: 1px solid rgba(202,197,191,0.5);
  border-radius: 5px;
}

.titleInf {
  color: #7d7a77;
  font-size: 14px;
  margin: 0;
}

.desc {
  margin-left: 0;
  margin-right: 0;
  margin-top: 24px;
}

.hrInf {
  width: 100%;
  border: 1px solid #f4f2f0;;
}

.titleCenter {
  text-align: center;
  box-sizing: border-box;
}

.titleDescricao {
  text-transform: lowercase;
  color: #222;
  font-size: 14px;
}

.subtituloInf {
  font-size: 14px;
  color: #222;
  opacity: 0.8;
}

.vendedorInfPessoais {
  padding: 10px;
  border-bottom: 1px solid rgba(202,197,191,0.5);
}

.vendedorInfEntregas {
  padding: 10px;
  border-bottom: 1px solid rgba(202,197,191,0.5);
}

.listagemVendedor ul {
  margin-top: 40px;
  margin-left: 20px;
  padding: 0;
  margin-bottom: 110px;
}

.listagemVendedor ul li {
  font-size: 12px;
}

.maisProdutos {
  font-size: 24px;
  font-weight: bold;
  color: #222;
}

.maisProdutos u {
  font-size: 24px;
  font-weight: bold;
  color: #f05b78;
  text-decoration: none;
  cursor: pointer;
}

.precoDetalhes {
  color: #f05b78;
}

.nomeDetalhes {
  font-size: 14px;
  opacity: 0.8;
}

h3 .verMais {
  font-size: 15px;
  color: #f05b78;
  cursor: pointer;
  margin-left: 210px;
  text-decoration: none;
  opacity: 0.7;
}

.etiquetaProdutos {
  height: 20px;
  width: 20px;
  opacity: 0.4;
  cursor: pointer;
}

.etiquetaProdutos:hover {
  opacity: 1;
}

.etiquetaPreco{
  opacity: 0.8;
  margin-left: 85px;
  margin-top: -70px;
  cursor: pointer;
}

.etiquetaPreco:hover {
  opacity: 1;
}

@media(max-width: 590px) {
  .vendedorSeguir {
    margin-left: -226px;
  }

  .containerVendedor {
    height: 300px;
  }

  .vendedorTempoMedio {
    margin-top: 30px;
    margin-left: 160px;
  }

  .vendedorCriacao {
    margin-top: -120px;
    margin-left: 10px;
  }

  .containerInf {
    height: 300px;
  }

  .containerCodigo {
    margin-top: 39px !important;
    margin-left: 92px !important;
    padding: 8px !important;
    width: 144px !important;
    position: relative !important;
  } 

  .containerCondicao {
    margin-left: 169px;
  }

  .containerMarca {
    margin-left: 5px;
  }

  .imgDetalhesPequena {
    margin-left: 90px !important;
    height: 90px;
    width: 100px;
  }

  .hrDetalhes {
    width: 100% !important;
  }

  .imgDetalhes {
    width: 331px !important;
  }
}