.imgDetalhes {
  height: 600px;
  width: 470px;
  transition: all 0.3s;
}

.imgDetalhesPequena {
  margin: 20px 160px ;
  height: 90px;
  width: 130px;
}

.zoom {
  overflow: hidden;
}

.zoom .imgDetalhes {
  max-width: 470px;
	-moz-transition: all 0.3s;
	-webkit-transition: all 0.3s;
	transition: all 0.3s;
}

.zoom .imgDetalhes:hover  {
  -moz-transform: scale(1.4);
	-webkit-transform: scale(1.7);
	transform: scale(1.4);
}

.hrDetalhes {
  width: 470px;
  box-sizing: border-box;
  margin-left: -2px;
  border: 1px solid rgba(202,197,191,0.5);
}

.inputPergunta {
  outline: 0;
  font-family: inherit;
  overflow: hidden;
  resize: none;
  height: 48px;
  width: 340px;
  padding: 13px 15px;
  border-radius: 3px;
  border: 1px solid rgba(202,197,191,0.5);
  color: #5b5855;
  appearance: none;
  transition: box-shadow 0.25s ease 0s, border-color 0.25s ease 0s;
}

.submitPergunta {
  outline: 0;
  color: #f05b78;
  background: #ffffff;
  border: 1px solid rgba(202,197,191,0.5);
  padding: 10px 30px;
  margin-left: 10px;
  cursor: pointer;
}

.titleProduto {
  color: #222;
  font-family: 'Proxima Nova', 'sans-serif', 'Arial';
  font-size: 30px;
  font-weight: bold;
}

.titleMenu {
  color: #cac5bf;
  display: inline-block;
  text-decoration: none;
  cursor: pointer;
  background-color: transparent;
  box-sizing: border-box;
  transition: color 0.2s ease-out;
}

.titleMenu:hover {
  text-decoration: underline;
}

.titleMarca {
  color: #222;
  font-size: 16px;
  cursor: pointer;
}

.titleMarca span {
  color: #f05b78;
}

.titlePreco {
  color: #f05b78;
  margin-bottom: 5px;
  display: flex;
  flex-wrap: wrap;
  font-size: 24px;
  font-weight: bold;
}

.btnTitle {
  margin-top: 10px;
  height: 48px;
  padding: 0 20px;
  font-size: 16px;
  font-weight: 600;
  border-width: 1px;
  border-radius: 3px;
  width: 100%;
  line-height: 46px;
  cursor: pointer;
  outline: 0;
}
